body {
	padding: 0px;
	font-size: 14px;
	color: #555;
	font-family: Helvetica , Arial , Verdana , Roboto , "ヒラギノ角ゴ Pro W3" , "Hiragino Kaku Gothic Pro" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
	font-weight: normal;
	margin: 5px 0px 5px 0px;
	width:100%;
}

h1 {
	font-weight: bold;
	text-align: center;
}

h2 {
	font-size: 20px;
	font-weight: bold;
}

a {
	color: #0867BF;
	text-decoration: none;

}

a:link{
  text-decoration: none;
}

a:visited{
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  color: #1E85E5;
}

a:active{
  text-decoration: none;
}


#container{
	/*
	margin:5px auto;
	width:90%;
	*/
}

#annotationTitle{
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	margin-top: 5px;
}

#annotation{
	color: #1ba466;
	font-size: 12px;
	width:1200px;
	margin:10px auto 15px;
	padding:1px 5px 3px;
	background-color: #d9f4ee;
	border-radius: 5px;
}

#annotation ul{
	margin:5px;
}

#openOptionsLink {
	cursor:pointer;
}

#preloaderContainer{
	margin:20px auto;
	width: 200px;
	height: 200px;
	text-align: center;
}


#JSRenderWaiting{
	margin:5px auto;
	width: 300px;
	text-align: center;
	color: #ea5549;
	font-size: 12px;
	font-weight: bold;
}


.htmlTitleTopRow{
	height:28px;
}

#htmlLeftTitle{
	float:left;
	/*width:50%;*/
	margin-left: 0px;
	margin-right:15px;
	font-weight: bold;
}

#openLeftUrlVS{
	cursor:pointer;
}

#openRightUrlVS{
	cursor:pointer;
}


#htmlLeftTitleUrl{
	float:left;
}


#openLeftUrl{
	cursor:pointer;
}

#openRightUrl{
	cursor:pointer;
}

#htmlRightTitle{
	font-weight: bold;
}

.htmlUrl{
	font-size: 10px;
	margin-bottom: 5px;
	word-wrap: break-word;
}

.htmlUrlVS{
	font-size: 10px;
}

.clear{
	clear:both;
}

#mergely-resizer{
	margin:10px auto 10px;
}

#footerNote{
	width: 100%;
	margin:40px auto 20px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}

#footerNote a:hover{
	text-decoration: none;
}

#openContactLink{
	cursor:pointer;
}

#openStoreLink{
	cursor:pointer;
	color: #555;
}

#aboutMergely{
	text-align: right;
	font-size: 10px;
	font-weight: normal;
	margin-right: 10px;
}

#openMergelyLink{
	cursor:pointer;
}

#optionMainForm{
	width:1000px;
	margin: 0px auto;
}

#optionButton{
	width: 100%;
	margin:40px auto 20px;
	text-align: center;
	vertical-align:middle;
}


#closeOptionsButton{
	height: 30px;
	width: 80px;
	margin: 10px 10px 5px 0px;
	line-height: 15px;
	vertical-align:middle;
	text-align: center;
}

#registOptionsButton{
	height: 45px;
	width: 200px;	
	font-size: 22px;
	margin: 10px 10px 5px 20px;
	vertical-align:middle;
	text-align: center;	
}

#options_RSPOption{
	margin-top: 30px;
}

.optionPairsAnnotation{
	margin: 5px auto 10px auto;
	font-size: 12px;
	padding-left: 0px;
}

.options_OtherCheckBox{
	margin: 5px 5px auto 10px;
}

#options_OtherJSRengerWaitTime{
	margin: 5px auto auto 30px;
}

#options_OtherJSRengerWaitTimeAnnotation{
	margin-bottom: 10px;
}

#otherJSRenderWaitTimeSelect{
	margin-left: 15px;
}

#options_OtherJSRengerWaitTimeUnit{
	margin-left:5px;
}


#domainPairs{
	margin-left: 0px;
}

#replaceStringPairs{
	margin-left: 0px;
}

.operationPanel{
	float: right;
	padding: 0px 10px 5px 5px;
	margin: -5px 10px 0px 0px;
}

.moveButton {
	cursor: pointer;
	font-size: 22px;
	float:left;
	margin: 2px 0 0 5px;
	color: #777;
}

.moveButton:hover {
	color: #ff8c00;
}

.wrapLine{
	font-size: 20px;
	margin-right: 2px;
}

.searchBox{
	border-radius: 3px;
	vertical-align: middle;
	float:left;
	border:1px solid #999;
	margin-left: 10px;
	padding:2px 5px 0px 5px;
	height:28px;
}

.searchBoxIcon{
	font-size: 14px;
	margin: 4px 5px;
	z-index:1;
	left:30px;
	float:left;
	color: #777;
}


.searchBoxText {
	height:22px;
	font-size: 13px;
	font-weight: normal;
	background-color: #fff;
	float:left;
	padding-top: 2px;
	border:0px;
}

.searchBoxText:focus{
	outline: 0px;
}

.searchButton{
	font-size: 12px;
	padding: 5px 0 0 0;
	cursor: pointer;
	float:left;
	margin-left: 4px;
	color: #777;
}


.searchButton:hover{
	color: #ff8c00;
}